

.boxes{
    margin:0;
    padding:0;
    

    .container{
        margin:auto;
        width:85%;
        padding-top:0px;
        display:flex;
        justify-content: space-around;
        background-color: $font-color-white;
        min-height:90px;

        .box{
            flex:1;
            background-color: $background-color-grey;

            p{
                
                margin: 51px 30px;
                
                a{
                    font-size: 1rem;
                    text-align: center;
                    line-height: 1.5rem;
                    color:black;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover{
                        color:$font-highlight-orange;
                    }
                    
                   
                }
            }  

        }

    }
}