.card-box{
    margin-top: 4%;
    margin-left: 6%;
    padding-bottom: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media screen and (max-width: 1499px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (max-width: 1280px) {
        grid-template-columns: 1fr 1fr
      }
      
      @media screen and (max-width: 828px) {
        grid-template-columns: 1fr 1fr
      }

      @media screen and (max-width: 748px) {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        margin-top: 6%;
        margin-left: 0%;
      }

    h2{
        padding-bottom: 4%;
    }

    .card-body{
        margin-bottom: 20%;
        background-color: #dae0fb;
        padding: 8%;
        border-radius: 8%;
        width: 340px;
        height: 230px;

        @media screen and (max-width: 828px) {
            width: 308px;
             height: 230px;
          }

     @media screen and (max-width: 748) {
        width: 366px;
         height: 233px;
      }

    }
}