footer{
    background-color: $font-highlight-orange;
    color:$font-color-white;
   

    background-color: #e8491d;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -4%;
    height: 9.5rem;

    p{
        text-align: center;
        font-size: 0.75rem;
        padding-top: 5px;
    }
}