footer{
    background-color: $font-highlight-orange;
    color:$font-color-white;
    margin:0;
    height:6vh;
    
    p{
        text-align: center;
        font-size: 0.75rem;
        padding-top: 5px;
    }
}