$screen-sm-max:480px;
$screen-md-max:768px;
$screen-lg-max:1024px;
$screen-xl-max:1440px;

//Media query for larger mobiles
@mixin sm {
    @media (max-width: #{$screen-sm-max}){
        @content;
    }
}

// Media Query for Tablets and larger
@mixin md {
    @media (max-width: #{$screen-md-max}){
        @content;
    }
}

// Media Query for Small Laptops
@mixin lg {
    @media (max-width: #{$screen-lg-max}){
        @content;
    }
}

// Media Query for Larger Laptops
@mixin xl {
    @media (max-width: #{$screen-xl-max}){
        @content;
    }
}


//---------------------------------------//

//responsiveness from mobile view up
$screen-sm-min:362px;
$screen-lm-min:480px;
$screen-tp-min:550px;
$screen-tl-min:700px;
$screen-lg-min:830px;
$screen-xl-min:960px;


//Media query for small mobiles
@mixin sm {
    @media (min-width: #{$screen-sm-min}){
        @content;
    }
}

//Media query for large mobiles
@mixin lm {
    @media (min-width: #{$screen-lm-min}){
        @content;
    }
}

//Media query for tablet portrait
@mixin tp {
    @media (min-width: #{$screen-tp-min}){
        @content;
    }
}

//Media query for tablet landscape
@mixin tl {
    @media (min-width: #{$screen-tl-min}){
        @content;
    }
}

//Media query for small laptops
@mixin lg {
    @media (min-width: #{$screen-lg-min}){
        @content;
    }
}

//Media query for large latops
@mixin xl {
    @media (min-width: #{$screen-xl-min}){
        @content;
    }
}


