html{
    height: 100%;
    body{
    height:100%;
    }
}
.container{
    margin:0;
    padding:0;
}

.student-cards{
    margin:0;
    margin-left: 40px;
    
}

.top-bar{
    margin:0;
    padding:0;
    h3{
        font-size: 20px;
       width:100%;
    }
}
.logo-bar{
    margin:0;
    padding:0;
}

.student{

            
    img{
        margin:0px;
        position: static;
    }
}

.student{
    margin:0;
    padding:0;
    text-align: center;
    margin:10px;
    div > ul > li:last-child{
        display: flex;
        flex-flow: row nowrap;
        justify-content: none;
        align-self: center;
    }
}

.im{
    color:$font-hover-grey;
}
footer{
    margin-bottom: 0;
    padding-bottom: 0;

    .footer-p{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.students-page-title{
    max-width: 1024px;

}

.students-grd{
       @include xl{
    
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 5px;
        box-sizing: border-box;
        padding: 10px;
       }   
    
}